<%= link_to '<< Back to Activity', home_path, :class => "links" %>

<%= form_for @note do |f| %>


<div class="col-md-6">



    <%= f.label :timeframe %> 
    <%= f.text_field :timeframe %>

    <%= f.radio_button :direction, 'Long', :checked => true %> 
    <%= f.label :Long %>
    <%= f.radio_button :direction, 'Short' %>
    <%= f.label :Short %>

    

</div>

<div class="col-md-6">


  <%= f.label :comment %> 
  <%= f.text_area :comment %> 
  <%= f.submit 'Add Note' %>
  

</div>

<% end %>