
<!-- This page represents the accumlated feed off all notes -->



<div>
	<% if !flash[:notice].blank? %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>	
	<% end %>
</div>

<div class="home-header">

<%= form_for @note do |f| %>

<div class=" note-form col-md-6">

  

    <%= label_tag :stock_symbol %>
    <%= text_field_tag :stock_symbol %>

    <%= label_tag :stock_name %>
    <%= text_field_tag :stock_name %>

    <%= f.label :timeframe %> 
    <%= f.text_field :timeframe %>

    <%= f.radio_button :direction, 'Long', :checked => true %> 
    <%= f.label :Long %>
    <%= f.radio_button :direction, 'Short' %>
    <%= f.label :Short %>

    

</div>

<div class="col-md-6">


  <%= f.label :comment %> 
  <%= f.text_area :comment %> 
  <%= f.submit 'Add Note' %>
  

</div>

<% end %>
</div>

<div class="activity-wrapper container-fluid"> 

	<div class="center-modules">

		<% @notes.reverse.each do |n| %>
				<div class="notes_container col-md-6">
					<h3><%= link_to n.stock.symbol, (stock_path(n.stock.id) if n.stock), :class => 'title' %></h3>
				<!-- how do do i get the stocks from seperete mongo doc to appear? -->
				
					<ul>
					
						<div class="item_block">
							<!-- <li><%= link_to n.stock.symbol, stock_path(n.stock.id) %></li> -->
							<li> <%= n.stock.name %> </li>
							<li> <%= n.date %> </li>
							<li> <%= n.timeframe %> </li>
							<li> <%= n.comment %> </li>
							<li> <%= n.direction %> </li>
							<%= link_to 'Edit', edit_path(n) %>
							<%= link_to 'Delete', destroy_path(n), :method => :delete %>
						</div>	
					</ul>
				</div>
		<% end %>
	</div>		
</div>

<div class="home-header">
</div>