
<!-- This page represents the accumlated feed off all notes -->



<div>
	<% if !flash[:notice].blank? %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>	
	<% end %>
</div>

<div class="activity-wrapper container-fluid"> 

	<div class="center-modules">

		<% @notes.reverse.each do |n| %>
				<div class="notes_container col-md-6">
					<h3 class="title"><%= n.stock.name if n.stock %></h3>
				<!-- how do do i get the stocks from seperete mongo doc to appear? -->
				
					<ul>
					
						<div class="item_block">
							<li><%= link_to n.stock.symbol, stock_path(n.stock.id) %></li>
							<li> <%= n.date %> </li>
							<li> <%= n.timeframe %> </li>
							<li> <%= n.comment %> </li>
							<li><%= link_to 'Individual Page ', note_path(n) %></li>
							<%= link_to 'Edit', '#' %>
							<%= link_to 'Delete', destroy_path(n), :method => :delete %>
						</div>	
					</ul>
				</div>
		<% end %>
	</div>		
</div>

<div class="home-header">
</div>