

<div class="bg-intro" "row">
</div>

<div class="middle"></div>

<div class="bg-intro2" "row">
	<h2> Sign up Today, Make Money Tommorow </h2>


	<div class="signup" "row">
	<div class="form_container">
		<div class= "bg-lower-info">
			<%= form_for @user do |f| %>
				<%= f.label :name %> 
				<%= f.text_field :name %>

				<%= f.label :email %> 
				<%= f.text_field :email %>

				<%= f.label :password %> 
				<%= f.password_field :password %>

				<%= f.submit "Sign Me Up!" %> 
				<%= link_to "Back to Welcome Page", '#' %>
			<% end %>  	
		</div>
	</div>

</div>


</div>

<div class="lower-info">
	
</div>



