<!DOCTYPE html>
<html>
<head>
  <title>Stockapp | <%= @title %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body data-no-turbolink>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <li><%= link_to 'Home', home_path %></li>
    <li>Sign in</li>
    <li> <%= link_to 'Add Note', new_path %> </li>
    <li> You are logged in!</li>
    <li id='logo'> Stock Pocket </li>
  </div>
</nav>
<div class='mega-wrapper'>

<%= yield %>

</div>
</body>
</html>